@page "/employees/view/{id:min(1)}"
@model RazorPages.Pages.Employees.Details
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/Images/" + (Model.Employee.PhotoPath ?? "user2.png");
}

<div class="col justify-content-center m-3">
    @if (TempData["message"] != null)
    {
        <div class="col-sm-6">
            <div class="alert alert-primary">
                @TempData["message"]
            </div>
        </div>
    }
<div class="col-sm-6">
    @*  @await Component.InvokeAsync("HeadCount",new { Department = Model.Employee.Department })*@
    <vc:head-count department="@Model.Employee.Department"></vc:head-count>
</div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h1>@Model.Employee.Name</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="@photoPath" asp-append-version="true" width="100" />

                    <h4>Employee ID : @Model.Employee.Id</h4>
                    <h4>Email : @Model.Employee.Email</h4>
                    <h4>Department : @Model.Employee.Department</h4>
                </div>

                <div class="card-footer text-center">
                    <a asp-page="index" class="btn btn-primary">Back</a>
                    <a asp-page="/Employees/Edit" asp-route-Id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
                    <a asp-page="/Employees/Delete" class="btn btn-danger" asp-route-ID="@Model.Employee.Id">Delete</a>
                </div>
            </div>
        </div>
    </div>
